* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  /* TARJETA DE INGRESO */
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  .tarjeta-flotante {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    color: #333;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    text-align: center;
  }
  .tarjeta-flotante h3 {
    margin-bottom: 1rem;
  }
  .tarjeta-flotante #tarjeta-input-zona {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }
  .tarjeta-flotante #tarjeta-input-zona label {
    margin-bottom: 0.2rem;
  }
  .tarjeta-flotante #tarjeta-input-zona input {
    padding: 0.5rem;
    width: 80%;
    margin-bottom: 0.5rem;
  }
  .tarjeta-flotante .tarjeta-botones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
  .tarjeta-flotante .tarjeta-botones button {
    padding: 0.5rem 1rem;
  }
  .tarjeta-flotante #botonCerrarTarjeta {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  /* INDEX */
  .body-index {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #000;
    line-height: 1.6;
  }
  /* navbar-index */
  .header-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 1000;
  }
  .header-index .logo {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
  }
  .header-index .nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    position: relative;
  }
  .header-index .nav-links li {
    position: relative;
  }
  .header-index .nav-links li:hover .dropdown {
    display: block;
  }
  .header-index .nav-links .dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    padding: 1rem 0;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .header-index .nav-links .dropdown li {
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .header-index .nav-links .dropdown li a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
  .header-index .nav-links .dropdown li a:hover {
    background-color: #000;
  }
  .header-index .nav-links .links {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
  }
  .header-index .nav-links .links:hover {
    text-decoration: underline;
  }
  .titulo-index {
    font-size: 25vw;
    font-weight: bold;
    letter-spacing: 8px;
    color: #fff;
    text-transform: uppercase;
    position: sticky;
    top: 40vh;
    text-align: center;
    z-index: 50;
    pointer-events: none;
  }
  .galeria-index {
    position: relative;
    min-height: 300vh;
    padding-top: 100px;
  }
  .galeria-index img {
    position: absolute;
    object-fit: cover;
    z-index: 10;
  }
  .galeria-index .img1 {
    top: -30vw;
    left: 5%;
    width: 30%;
    height: auto;
  }
  .galeria-index .img2 {
    top: 10%;
    right: 10%;
    width: 35%;
  }
  .galeria-index .img3 {
    top: 25%;
    left: 10%;
    width: 25%;
  }
  .galeria-index .img4 {
    top: 35%;
    right: 15%;
    width: 40%;
  }
  .galeria-index .img5 {
    top: 45%;
    left: 10%;
    width: 30%;
  }
  /* FOOTER */
  .footer-index {
    padding: 5rem 2rem;
    text-align: center;
    background: #fff;
    color: #000;
    z-index: 1;
  }
  /* TIENDA */
  .body-tienda {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #fff;
    line-height: 1.6;
  }
  /* navbar */
  .header-tienda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
  }
  .header-tienda .logo {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: #000;
  }
  .header-tienda .nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    position: relative;
  }
  .header-tienda .nav-links li {
    position: relative;
  }
  .header-tienda .nav-links li:hover .dropdown {
    display: block;
  }
  .header-tienda .nav-links .dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 1rem 0;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .header-tienda .nav-links .dropdown li {
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .header-tienda .nav-links .dropdown li a {
    color: #000;
    text-decoration: none;
    display: block;
  }
  .header-tienda .nav-links .dropdown li a:hover {
    background-color: #fff;
  }
  .header-tienda .nav-links .links {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
  }
  .header-tienda .nav-links .links:hover {
    text-decoration: underline;
  }
  /* GALERIA DE PRODUCTOS */
  .galeria-tienda {
    padding: 2rem;
    padding-top: 8rem;
  }
  .galeria-tienda .titulo-y-buscador {
    display: flex;
    justify-content: space-between;
    -items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  .galeria-tienda .titulo-tienda {
    color: #000;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    position: relative;
    z-index: 10;
  }
  .galeria-tienda #buscador-cuadros {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .galeria-tienda #buscador-cuadros input {
    padding: 0.5rem;
    min-width: 250px;
  }
  .galeria-tienda #buscador-cuadros button {
    padding: 0.5rem 1rem;
  }
  .galeria-tienda #buscador-cuadros p#resultado-busqueda {
    font-style: italic;
    color: #555;
  }
  .galeria-tienda .galeria-tienda-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .producto-card {
    cursor: pointer;
  }
  .producto-card .card-imagen-container {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  .producto-card .producto-imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease-in-out;
  }
  .producto-card .hover-imagen {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .producto-card .card-info .producto-nombre {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
  .producto-card .card-info .producto-precio {
    font-size: 1rem;
    color: #555;
  }
  .producto-card:hover .hover-imagen {
    opacity: 1;
  }
  .footer-tienda {
    padding: 5rem 2rem;
    text-align: center;
    background: #000;
    color: #fff;
    z-index: 1;
  }
  /* CONTACTO */
  .titulo-contacto {
    padding: 1rem 1rem 0rem 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .formulario {
    padding: 2.5rem 2rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  .formulario .formulario-nombre, .formulario .formulario-mensaje, .formulario .formulario-email {
    padding: 1rem 0rem 0rem 0rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}

/*# sourceMappingURL=estilos.css.map */
