// Variables de colores
@use "general" as *;
@use "mixins" as*;

@media screen and (min-width: 769px) {

    /* TARJETA DE INGRESO */

    #overlay { 
    display: none;          
    position: fixed;            
    top: 0;                     
    left: 0;                    
    width: 100%;                
    height: 100%;               
    background-color: rgba(0, 0, 0, 0.5);  
    z-index: 1000;            
    }

    .tarjeta-flotante {
    display: none;             
    position: fixed;            
    top: 50%;                   
    left: 50%;                  
    transform: translate(-50%, -50%);
    width: 90%;                 
    max-width: 400px;         
    background-color: #fff;     
    color: #333;                
    padding: 2rem;           
    border-radius: 8px;        
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    z-index: 1001;              
    text-align: center;         

        h3 {
        margin-bottom: 1rem;   
        }

        #tarjeta-input-zona {
        margin-top: 1.5rem;      
        display: flex;            
        flex-direction: column;  
        align-items: center;      
        gap: 0.8rem;              

            label {
            margin-bottom: 0.2rem;   
            }

            input {
            padding: 0.5rem;        
            width: 80%;             
            margin-bottom: 0.5rem;   
            }
        }

        .tarjeta-botones {
        display: flex;            
        justify-content: center;  
        gap: 1rem;                
        width: 100%;              

            button {
            padding: 0.5rem 1rem;   
            }
        }

        #botonCerrarTarjeta { 
        position: absolute;      
        top: 10px;                
        right: 10px;              
        background: none;         
        border: none;            
        font-size: 1.2rem;        
        cursor: pointer;          
        }
    }


    /* INDEX */
    .body-index{
    font-family: $font-main;
    background-color: $color-primary;
    line-height: 1.6;
    }

    /* navbar-index */
    .header-index {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: $espaciado-grande;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-primary;
    z-index: 1000;

        .logo {
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: 3px;
        color: $color-secondary;
        }

        .nav-links {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 2rem;
        position: relative;

            li {
            position: relative;

                &:hover .dropdown {
                display: block;
                }
            }

            .dropdown {
            list-style: none;
            margin: 0;
            padding: 0;
            display: none; 
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $color-primary;
            padding: 1rem 0;
            min-width: 150px;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.2);
            z-index: 1000;
                li {
                width: 100%;
                padding: 0.5rem 1rem;

                    a {
                    color: $color-secondary;
                    text-decoration: none;
                    display: block;

                        &:hover {
                        background-color: $color-primary;
                        }
                    }   
                }
            }
            .links{
            text-decoration: none;
            font-size: 1rem;
            font-weight: 500;
            color: $color-secondary;

                &:hover {
                text-decoration: underline;
                }
            }
        }
    }

    .titulo-index {
    font-size: 25vw; 
    font-weight: bold;
    letter-spacing: 8px;
    color: $color-secondary;
    text-transform: uppercase;
    position: sticky; 
    top: 40vh;
    text-align: center;
    z-index: 50; 
    pointer-events: none; 
    }

    .galeria-index {
    position: relative;
    min-height: 300vh; 
    padding-top: 100px; 

        img {
        position: absolute;
        object-fit: cover;
        z-index: 10;
        }

        .img1 {
        top: -30vw; 
        left: 5%;
        width: 30%;
        height: auto;
        }

        .img2 {
        top: 10%;
        right: 10%;
        width: 35%;
        }

        .img3 {
        top: 25%;
        left: 10%;
        width: 25%;
        }

        .img4 {
        top: 35%;
        right: 15%;
        width: 40%;
        }

        .img5 {
        top: 45%; 
        left: 10%;
        width: 30%;
        }
    }

    /* FOOTER */
    .footer-index {
    padding: 5rem 2rem;
    text-align: center;
    background: $color-secondary;
    color: $color-primary;
    z-index: 1;
    }


    /* TIENDA */
    .body-tienda{
    font-family: $font-main;
    background-color: $color-secondary;
    line-height: 1.6;
    }

    /* navbar */
    .header-tienda {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: $espaciado-grande;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-secondary;
    z-index: 999;

        .logo {
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: 3px;
        color: $color-primary;
        }

        .nav-links {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 2rem;
        position: relative;

            li {
            position: relative;

                &:hover .dropdown {
                display: block;
                }
            }

            .dropdown {
            list-style: none;
            margin: 0;
            padding: 0;
            display: none; 
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $color-secondary;
            padding: 1rem 0;
            min-width: 150px;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.2);
            z-index: 1000;
                li {
                width: 100%;
                padding: 0.5rem 1rem;

                    a {
                    color: $color-primary;
                    text-decoration: none;
                    display: block;

                        &:hover {
                        background-color: $color-secondary;
                        }
                    }   
                }
            }
            .links{
            text-decoration: none;
            font-size: 1rem;
            font-weight: 500;
            color: $color-primary;

                &:hover {
                text-decoration: underline;
                }
            }
        }
    }

    /* GALERIA DE PRODUCTOS */
    .galeria-tienda {
    padding: $espaciado-grande;
    padding-top: 8rem;

        .titulo-y-buscador {
        display: flex;             // Usamos Flexbox
        justify-content: space-between; // Título a la izquierda, buscador a la derecha
        -items: center;       // Centramos verticalmente
        margin-bottom: $espaciado-grande; // Mantenemos el espacio antes de la grilla
        flex-wrap: wrap; // Permite que el buscador baje si no hay espacio
        }

        .titulo-tienda {
        color: $color-primary;
        font-size: 2.5rem;
        margin-bottom: $espaciado-grande;
        font-weight: bold;
        position: relative;
        z-index: 10;
        }

        #buscador-cuadros {
        display: flex;     
        align-items: center; 
        gap: 0.5rem;        

            input {
            padding: 0.5rem;
            min-width: 250px; 
            }
            button {
            padding: 0.5rem 1rem;
            }
            p#resultado-busqueda { 
            font-style: italic;
            color: #555;
            }
        } 

        .galeria-tienda-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $espaciado-grande;
        }
    }

    .producto-card {
    cursor: pointer;

        .card-imagen-container {
        position: relative;
        margin-bottom: $espaciado-mediano;
        width: 100%;
        height: 700px; 
        overflow: hidden;
        }

        .producto-imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: $transicion-suave; 
        }

        .hover-imagen {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        }

        .card-info {
            .producto-nombre {
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: 0.25rem;
            }

            .producto-precio {
            font-size: 1rem;
            color: $color-texto-secundario;
            }
        }

        &:hover {
            .hover-imagen {
            opacity: 1;
            }
        }
    }

    .footer-tienda {
    padding: 5rem 2rem;
    text-align: center;
    background: $color-primary;
    color: $color-secondary;
    z-index: 1;
    }

    /* CONTACTO */
    .titulo-contacto{
    @include padding(1rem, 1rem, 0rem, 2rem);
    font-weight: bold;
    text-transform:uppercase;
    }
    .formulario{
    @include padding(2.5rem, 2rem, 2.5rem, 2rem);
    @include flex(column, flex-start, stretch);
        .formulario-nombre{
        @include padding(1rem, 0rem, 0rem, 0rem);
        text-transform: uppercase;
        font-weight: bold;
        }
        .formulario-email{
        @extend .formulario-nombre;
        }
        .formulario-mensaje{
        @extend .formulario-nombre;
        }
    }
}