@mixin padding($top, $right, $bottom, $left) {
        padding: $top $right $bottom $left;
    }

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    }
